# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy ASP.Net Core app to Azure Web App - progorb-api

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.x'

      - name: Build with dotnet
        run: dotnet build serviceApp.Server/serviceApp.Server.csproj --configuration Release

      - name: Publish API
        run: dotnet publish serviceApp.Server/serviceApp.Server.csproj -c Release -o ./api-publish

      - name: Verify publish output
        run: ls -R ./api-publish

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: api-build
          path: ./api-publish

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: api-build
          path: ./artifact

      - name: List artifact content
        run: ls -R ./artifact
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_B635DD1A69754F8A9E0CDE8FC3E47659 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_A93769371BDF433980CC63E74DFC4E5B }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_86E495002BC6425AB504E02545084B78 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'progorb-api'
          package: ./artifact


          













